.btn {
    font-weight: $font-weight-bold;
    &-primary {
        color: $white;

        &:hover {
            color: $white !important; 
        }
    }

    &-add {
        flex-grow: 1;
        box-shadow: 0px 32px 26px -12px rgba($primary,0.25);
        svg {
            transform: scale(.8);
            vertical-align: sub;
        }
        width: 100%;
        @media (min-width: 420px) {
            width: initial;
        }
    }
    &-checkout {
        width: 100%;
    }
}
