.card {
    &-shopping-cart {
        position: absolute;
        z-index: 2;
        border: none;
        box-shadow: $card-box-shadow;
        min-height: 0px;
        opacity: 0;
        top: 88px;
        left: 0;
        right: 0;
        width: calc(100% - #{$spacer});
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            top: 92px;
        }

        @include media-breakpoint-up(sm) {
            width: 350px;
            top: 75px;
            left: unset;
            right: $grid-gutter-width;
        }

        &.show {
            min-height: 240px;
            opacity: 1;
        }

        &.empty {
            font-weight: $font-weight-bold;
            .card-body {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &-body {
        color: $text-color;
    }
}