body {
    font-family: $font-family-base;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba($black, .75);
        opacity: 0;
        z-index: -1;
        transition: $transition-base;
    }
    &.menu-open {
        overflow: hidden;
        &::after {
            opacity: 1;
            z-index: 0;
        }
    }
    &.lightbox-show {
        overflow: hidden;
    }

    .main {
        position: relative;
        z-index: 0;
        .content {
            @include media-breakpoint-up(md) {
                padding-top: $spacer * 4;
            }
            margin-bottom: $spacer * 2;

            .pictures-col {
                @include media-breakpoint-up(sm) {
                    margin-bottom: $spacer * 4;
                }
                @include media-breakpoint-up(md) {
                    padding: 0 $spacer * 4;
                }
                @include media-breakpoint-up(lg) {
                    padding: 0 ($spacer * 2) 0 ($spacer * 4);
                    margin-bottom: 0;
                }
                @include media-breakpoint-up(xl) {
                    padding: 0 $spacer * 4;
                }
            }
            .info-col {
                @include media-breakpoint-up(md) {
                    padding: 0 $spacer * 4;
                }
                @include media-breakpoint-up(lg) {
                    padding: 0 ($spacer * 4) 0 ($spacer * 2);
                }
                @include media-breakpoint-up(xl) {
                    padding: 0 $spacer * 4;
                }
            }
        }
    }
    .attribution {
        padding: ($spacer * .5) ($grid-gutter-width * .5);
        margin-top: auto;
        a {
            color: $primary;
        }
    }
}


