.pictures-col {
    .swiper {
        margin-inline: calc(50% - 50vw);
        @include media-breakpoint-up(sm) {
            margin-inline: 0;
        }
    }
    .main-img {
        margin-bottom: $spacer * 2.125;
        max-width: 100vw;
        pointer-events: none;
        
        @include media-breakpoint-up(sm) {
            margin-inline: 0;
            max-width: 100%;
            border-radius: $border-radius;
        }
        @include media-breakpoint-up(lg) {
            cursor: zoom-in;
            pointer-events: inherit;
        }
        .lightbox-show & {
            cursor: default;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: $white;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        &::after {
            content: "";
        }
        svg {
            transform: scale(.8);
        }
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }

    .swiper-button-next {
        svg {
            margin-left: 3px;
        }
    }
    .swiper-button-prev {
        svg {
            margin-right: 3px;
        }
    }

    .preview-images {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        
        .preview-img-wrapper {
            width: 20.5%;
            border-radius: $border-radius * .75;
            margin: 0;
            background-color: $white;
            overflow: hidden;
            cursor: pointer;
            &.swiper-slide-thumb-active {
                border: 2px solid $primary;
                .preview-img {
                    opacity: .4;
                    &:hover {
                        opacity: .4;
                    }
                }
            }

            .preview-img {
                max-width: 100%;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .lightbox {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        position: fixed;
        background-color: rgba($black, .75);
        z-index: 999;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all .1s ease-in-out;
        @include media-breakpoint-up(lg) {
            display: flex;
        }

        .lightbox-show & {
            opacity: 1;
            pointer-events: inherit;
        }

        .wrapper {
            width: min(65vh, 800px);
            display: flex;
            flex-direction: column;
            .close {
                display: inline-block;
                padding: $spacer;
                margin: 0 0 $spacer auto;
                cursor: pointer;
                
                svg {
                    transform: scale(1.75);
                    transition: $transition-base;
                }

                &:hover {
                    svg {
                        path {
                            fill: $primary;
                        }
                    }
                }
            }
            
            .swiper {
                
    
                
                .swiper-button-next,
                .swiper-button-prev {
                    display: flex;
                    height: 50px;
                    width: 50px;
                    svg {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        color: $headings-color;
        font-weight: $font-weight-bold;
        margin-bottom: $spacer;
        @include media-breakpoint-up(sm) {
            margin-bottom: $spacer * 2.25;
        }
    }
    
    h2 {
        color: $primary;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: $font-size-base * .875;
        letter-spacing: 1px;
        margin-bottom: $spacer;
    }

    p {
        color: $text-color;
    }

    .price-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: ($spacer * .75);
        
        @media (min-width: 420px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
        }

        .price-discount-wrapper {
            display: flex;
            align-items: center;
            .price {
                color: $headings-color;
                font-weight: $font-weight-bold;
                font-size: $font-size-base * 1.75;
                margin: 0 ($spacer * .75) ($spacer * .125) 0; 
            }
            .discount {
                color: $primary;
                font-weight: $font-weight-bold;
                display: inline-block;
                padding: 1px ($spacer * .5);
                background-color: $pale-orange;
                border-radius: $border-radius * .25;
            }
        }

        .discount-price {
            color: $gray;
            font-weight: $font-weight-bold;
            position: relative;
            width: fit-content;
            margin-left: auto;
    
            @media (min-width: 420px) {
                margin-left: 0;
                margin-bottom: $spacer * 2;
            }
            
            &::after {
                content: "";
                position: absolute;
                bottom: 9px;
                left: 0;
                height: 100%;
                width: 100%;
                border-bottom: 1px solid $gray;
            }
        }
    }

    .counter-btn-wrapper {
        @media(min-width: 420px) {
            display: flex;
        }
        gap: $spacer;

        .counter {
            width: 100%;
            height: 55px;
            background-color: $light-gray;
            border-radius: $border-radius-sm;
            display: flex;
            align-items: center;
            margin-bottom: $spacer;

            @media (min-width: 420px) {
                margin-bottom: 0;
                width: 160px;
            }

            .minus {
                margin-right: auto;
                padding: $spacer;
                &:hover {
                    cursor: pointer;
                    use {
                        fill: lighten($primary, 10%);
                    }
                }
                svg {
                    margin-top: $spacer * .75;
                    vertical-align: super;
                }
            }
            .count {
                font-weight: $font-weight-bold;
                margin: 0 auto;
                user-select: none;
            }
            .plus {
                margin-left: auto;
                padding: $spacer;

                &:hover {
                    cursor: pointer;
                    use {
                        fill: lighten($primary, 10%);
                    }
                }
                svg {
                    vertical-align: unset;
                }
            }
        }
    }
}