@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$variable-prefix:             bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;

$font-family-base: 'Kumbh Sans', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-weight-bold: 700;

$spacer: 1rem;
$grid-gutter-width: 3rem;

$primary: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$headings-color: hsl(220, 13%, 13%);
$text-color: hsl(219, 9%, 45%);
$border-color: hsl(255, 9%, 91%);
$gray: hsl(220, 14%, 75%);
$light-gray: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$border-radius: $spacer;
$border-radius-sm: $spacer * .5;

$input-btn-padding-y: .875rem;
$input-btn-padding-x: 2rem;
$btn-border-radius: $border-radius-sm;
$btn-link-hover-color: $white;

$border-width:                      1px;
$card-spacer-y:                     $spacer * 1.25;
$card-spacer-x:                     $spacer * 1.5;
$card-title-spacer-y:               $spacer * .5;
$card-border-width:                 $border-width;
$card-border-color:                 $border-color;
$card-border-radius:                $border-radius * .5;
$card-box-shadow:                   0px 14px 22px 0px rgba($black,0.2);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:                $card-spacer-y * 1.125;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       $white;
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          $spacer;
$card-group-margin:                 $grid-gutter-width * .5;